/Domain/build/
/Domain/dist/
/Data/build/
/Business/nbproject/private/
/Presentation/nbproject/private/
/Presentation/build/
/Business/build/
/Data/dist/
/Business/dist/
/Presentation/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/
